{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous etes connecté
				{{ app.user.username }},
				<a href="{{ path('security_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

		{{ form_start(formView)}}
		{{ form_errors(formView)}}
		{{ form_widget(formView)}}
		<button class="btn btn-lg btn-primary" type="submit">
			connexion
		</button>
		{{ form_end(formView)}}


	{% endblock %}
